body{
        counter-reset: page-number;
        punctuation-trim: start end adjacent;
        text-justify-trim: punctuation;
        text-autospace: ideograph-numeric ideograph-alpha;
        font-feature-settings: "pkna";

}
.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
/*    max-width: calc(var(--main-width) + var(--gap) * 2); */
    max-width: 620px; 
    margin: auto;
    padding: var(--gap);
    
}

h2{

        font-size: 1.2em;
        font-family: sans-serif;
        page-break-before: always;
}

p{
    text-align: justify; 
     line-height: 1.9;

        hyphens:auto;
}

.page-header h1 {
    font-size: 32px;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}


.social-icons a {
    display: inline-flex;
    padding: 10px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}

    @page {
        size: A4 portrait;
        margin: 2.5cm 1cm 2.5cm 1cm;
        @top-center {
            content: var(--page-title);
            font-size: 9pt;
        }    
    }

    @page:first {
        @top-center {
            content: none;
        }    
        @bottom-right {
            content: none;
        }    
    }

    @page:left {
        @bottom-left {
            content: counter(page);
            font-size: 9pt;
    }
    }

    @page:right {
        @bottom-right {
            content: counter(page);
            font-size: 9pt;
    }
    }

